---
import Card from "./Card.astro";
const name = "Alex";
const age = 23;
const city = "Monterrey";

const data = {
    name,
    age,
    city,
};
---

<main class="flex flex-col items-center gap-4 justify-center my-8">
    <Card {...data} />
    <Card {...data} />
    <Card {...data} />
    <Card {...data} />
    <Card {...data} />
</main>
